* {
  box-sizing: border-box;
  margin: 0;
}

header div.header1 {
  display: none;
}
header div.header2 {
  display: flex;
  justify-content: space-between;
  padding: 18px 52px;
  background-color: #F0A83E;
}
header div.header2 i {
  color: white;
  font-size: 20px;
}

main section.primera {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 143px 54px 70px 173px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
}
main section.primera h3 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  background-color: white;
  padding: 13px 13px;
  border-radius: 5px;
  width: 350px;
  height: 54px;
  color: #3C2313;
}
main section.primera h5 {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: end;
  align-self: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3C2313;
}
main section.primera button {
  grid-column: 2/3;
  grid-row: 4/5;
  justify-self: end;
  padding: 15px 23px;
  background-color: #F0A83E;
  color: white;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 141px;
  height: 49px;
}
main section.segunda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section.segunda i {
  color: #F0A83E;
  font-size: 70px;
  text-align: center;
  padding: 20px;
}
main section.segunda h2 {
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #3C2313;
  width: 50%;
  padding-bottom: 25px;
}
main section.segunda p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #666666;
}
main section.segunda div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15 px;
  margin: 20px;
}
main section.tercera div.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main section.tercera div.contacto h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #3C2313;
  padding: 25px;
}
main section.tercera div.contacto input {
  background-color: #3C2313;
  border-radius: 15px;
  border: none;
  width: 298px;
  height: 40px;
  padding: 10px;
  margin: 5px;
}
main section.tercera div.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
main section.tercera div.buttons button.reset {
  background-color: #3C2313;
  color: white;
  width: 199px;
  height: 45px;
  border-radius: 25px;
  border: none;
  margin: 5px;
}
main section.tercera div.buttons button.send {
  background-color: #F0A83E;
  color: white;
  width: 199px;
  height: 45px;
  border-radius: 25px;
  border: none;
  margin: 5px;
}
main section.cuarta {
  background-color: #F0A83E;
}
main section.cuarta div.suscripcion {
  display: flex;
  align-items: center;
}
main section.cuarta div.suscripcion img {
  width: 37px;
  height: 37px;
  margin: 15px;
}
main section.cuarta div.suscripcion h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
main section.cuarta div.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
main section.cuarta div.registro input {
  background-color: white;
  border-radius: 15px;
  border: none;
  width: 261px;
  height: 40px;
  padding: 10px;
  margin: 5px;
}
main section.cuarta div.registro button {
  width: 100px;
  height: 35px;
  background: #3C2313;
  border-radius: 15px;
  border: none;
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  margin: 15px;
}

footer {
  background-color: #3C2313;
}
footer div.logopie {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
footer div.contactus {
  background-color: #3C2313;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer div.contactus div.localidad, footer div.contactus div.telefono, footer div.contactus div.email {
  display: flex;
  align-items: center;
  margin: 12px;
  width: 300px;
}
footer div.contactus div.localidad img, footer div.contactus div.telefono img, footer div.contactus div.email img {
  width: 45px;
  height: 45px;
}
footer p.contacto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  padding-left: 15px;
}
footer p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #8A8787;
  padding-left: 15px;
}

div.derechos {
  padding: 5px;
  background-color: black;
  text-align: center;
}
div.derechos p {
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
}

@media (min-width: 769px) {
  header div.header1 {
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
  header div.header1 p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: white;
    padding: 5px 90px;
  }
  header div.header1 div.opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 90px;
  }
  header div.header1 div.opciones div.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
  }
  header div.header1 div.opciones div.menu p {
    padding: 5px;
  }
  header div.header1 div.opciones div.menu i {
    color: white;
    font-size: 8px;
  }
  header div.header2 i {
    display: none;
  }
  main section.primera h3, main section.primera h5, main section.primera button {
    grid-column: 3/4;
    justify-self: center;
  }
  main section.segunda div.productos {
    flex-direction: row;
  }
  main section.segunda div.productos div {
    background-color: #FBFAF6;
    padding: 10px;
  }
  main section.cuarta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  main section.cuarta div.suscripcion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  main section.cuarta div.registro {
    padding-bottom: 0px;
  }
  footer div.footerppal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */